/*
Estou em uma folha de estilos CSS
*/

h1 {
    color: blue;
    background: red;
}
#super-title{
    background: gray;
}
.my-title-2{
    background: black;
}
p{
    color: green;
    background: yellow;
}